*{
    margin: 0px;
    padding: 0px;
}

.container {
    width: 960px;
    margin: 0 auto;
    justify-content:center;
    }



nav {
    background: hsla(22, 97%, 48%, 0.897);
    color: white;
    height: 75px;
    display:flex;
    justify-content:space-between;
    padding: 0 6rem;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo h1 {
    font-size: 2rem;
}

ul.menu {
    display: flex;
    list-style: none;
    font-size: 20px;
}

ul.menu li {
    margin-left : 2rem;
}

ul.menu li a {
    color: #ffff;
    text-decoration: none;
}

header {
    height: 680px;
    overflow: hidden;
    /*border: 1px solid red;*/
    background: url(https://images.unsplash.com/photo-1488085061387-422e29b40080?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1031&q=80) no-repeat;
    opacity: 90%;
    background-size: cover;
    background-position :center ;
}

header {
   margin-bottom: 3rem;
}

.header-info {
    /* border: 1px solid salmon; */
    width: 700px;
    margin-top: 15rem;
    margin-left: 6rem;
    color: white;
}

.header-info h1 {
    font-size: 3rem;
}

.header-info p {
    font-size: 30px;
}

main {
    padding: 3rem 0;
    
}

main > h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.picture {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.picture figure img {
    width: 100%;
    height: 200px;
}

.picture h3 {
    text-align: center;
}

.info2 {
    /* border: 1px solid red; */
    width: 1000px;
    margin:auto
       
}

.info2>h1 {
    text-align: center;
    font-size: 3rem;
}
.info2>p {
    text-align: left;
}


.sectioncontact h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;

    padding-bottom: 3rem;
}

/*contact section*/
.flexbox {
    display:flex;
    box-sizing:border-box;
    flex-direction: row;
    text-align: center;
    width: 1000px;
    margin-bottom: 5rem;
    

    
}

.item {
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

.item img {
    width: 80px;
    margin-top: 2rem
}
.contact {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0px #eb9a03;
    margin-bottom: 16px;
    width: 300px;
    height: 200px;

}

/*End contact section*/

/*Footer*/
    footer {
        background-color: hsla(22, 97%, 48%, 0.897);
        text-align: center;
        color: #ffffff;
    }

    .follow img {
        width: 60px;
        margin: 2rem 1rem;
        
    }
/*End Footer*/