

.container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: rgb(255, 255, 255);
    }



nav {
    background: hsla(22, 97%, 48%, 0.897);
    color: white;
    height: 75px;
    display:flex;
    justify-content:space-between;
    padding: 0 6rem;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo h1 {
    font-size: 2rem;
}

ul.menu {
    display: flex;
    list-style: none;
    font-size: 20px;
}

ul.menu li {
    margin-left : 2rem;
}

ul.menu li a {
    color: #ffff;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

.grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: minmax(500px) minmax(160px, auto) auto;
    grid-template-areas: 
      'header header'
      'leftbar main'
      'footer footer';
    column-gap: 20px;
    row-gap: 20px;
  }
  
  .page-header {
    grid-area: header;
  }
  
  .page-leftbar {
    grid-area: leftbar;
  }
  
  .page-main {
    grid-area: main;
  }
  
  .page-footer {
    grid-area: footer;
  }
   
  span {
      color: red;
  }
  .content {
    color: #242424;
    background-color: #ffffff;
    font-weight: 600;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    /* border: 1px solid black; */
    margin: 0 auto;
  }


.plan1 {
    text-align: center;
}
.plan1 p {
    /* border: 1px solid black; */
    text-align: left;
    width: 800px;
    position: relative;
    left: 60px;
}
.plan2 {
    /* border: 1px solid black; */
    text-align: left;
}

.check_point1 {
    position: relative;
    left: 75px;
    top:12px
}

.check_point2 {
    position: relative;
    left: 75px;
    top:60px;
}

.check_point3 {
    position: relative;
    left: 75px;
    top:300px;
}

.check_point4 {
    position: relative;
    left: 75px;
    top:755px;
}
.check_point5 {
    position: relative;
    left: 75px;
    top:760px;
}

label {
    width: 100px;
    display: inline-block;
}

#form {
    background: #ffff color= black;
}

.boxform {
    border: 1px solid black;
    text-align: center;
}

.page-footer {
    display: flex;
    justify-content: center;
    
}

form input {
    border-radius: 15px;
    
}

input {
    height: 50px;
    width: 250px;
    font-size: 1rem;
    text-align: center;
}

.btn {
    padding: 15px 50px;
    font-size: 1rem;
    position: relative;
    left: 150px;
}

section {
    background-color:  hsla(22, 97%, 48%, 0.897);
    /* border: 1px solid black; */
    position: relative;
    padding: 100px;
    margin-top: 5rem;
   
}

section img {
    position: absolute;
    bottom: 0px;
}
section h1 {
    position: absolute;
    left: 500px;
    bottom: 50px;
    font-size: 2rem;
    color: #ffff;
}

.link {
    text-decoration: none;
}